window {
    background-color:rgba(17, 11, 27, 0.397);
    border-radius: 12px;
    padding: 10px;
}

#input {
    font-size: 16px;
    color: white;
    background-color:rgba(17, 11, 27, 0.397);
    border-radius: 6px;
    padding: 5px;
}


#input:focus {
    border: 2px solid #a295eb; /* change corner color on focus */
    box-shadow: 0 0 5px 2px #c0a9ff;
}

#entry {
    padding: 10px;
    font-size: 14px;
    color: #eee;
}

#entry:selected {
    background-color: #835eac;
    color: white;
}
